# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/

# Django stuff
*.pot
*.pyc
db.sqlite3
/staticfiles/
media/

# VS Code and Mac system files
.vscode/
.DS_Store

# Environment variables
*.env
